* {
    primary: #74486C;
    primary-fixed: #814F7B;
    primary-fixed-dim: #74486C;
    on-primary: #3A3A3A;
    on-primary-fixed: #0F0F0F;
    on-primary-fixed-variant: #767476;
    primary-container: #767476;
    on-primary-container: #814F7B;
    secondary: #A9A5A9;
    secondary-fixed: #A9A5A9;
    secondary-fixed-dim: #A9A5A9;
    on-secondary: #3A3A3A;
    on-secondary-fixed: #0F0F0F;
    on-secondary-fixed-variant: #767476;
    secondary-container: #767476;
    on-secondary-container: #A9A5A9;
    tertiary: #703834;
    tertiary-fixed: #823D38;
    tertiary-fixed-dim: #703834;
    on-tertiary: #3A3A3A;
    on-tertiary-fixed: #0F0F0F;
    on-tertiary-fixed-variant: #767476;
    tertiary-container: #767476;
    on-tertiary-container: #823D38;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0F0F0F;
    on-surface: #C9C6C8;
    on-surface-variant: #A9A5A9;
    outline: #767476;
    outline-variant: #3A3A3A;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #C9C6C8;
    inverse-on-surface: #3A3A3A;
    inverse-primary: #74486C;
    surface-dim: #0F0F0F;
    surface-bright: #767476;
    surface-container-lowest: #0F0F0F;
    surface-container-low: #3A3A3A;
    surface-container: #3A3A3A;
    surface-container-high: #767476;
    surface-container-highest: #767476;
}
