* {
    primary: #57578B;
    primary-fixed: #7474B9;
    primary-fixed-dim: #57578B;
    on-primary: #414040;
    on-primary-fixed: #161615;
    on-primary-fixed-variant: #929294;
    primary-container: #929294;
    on-primary-container: #7474B9;
    secondary: #D1D1D4;
    secondary-fixed: #D1D1D4;
    secondary-fixed-dim: #D1D1D4;
    on-secondary: #414040;
    on-secondary-fixed: #161615;
    on-secondary-fixed-variant: #929294;
    secondary-container: #929294;
    on-secondary-container: #D1D1D4;
    tertiary: #4E5A8D;
    tertiary-fixed: #505C9B;
    tertiary-fixed-dim: #4E5A8D;
    on-tertiary: #414040;
    on-tertiary-fixed: #161615;
    on-tertiary-fixed-variant: #929294;
    tertiary-container: #929294;
    on-tertiary-container: #505C9B;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #161615;
    on-surface: #E4E4E6;
    on-surface-variant: #D1D1D4;
    outline: #929294;
    outline-variant: #414040;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #E4E4E6;
    inverse-on-surface: #414040;
    inverse-primary: #57578B;
    surface-dim: #161615;
    surface-bright: #929294;
    surface-container-lowest: #161615;
    surface-container-low: #414040;
    surface-container: #414040;
    surface-container-high: #929294;
    surface-container-highest: #929294;
}
